@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&display=swap');

body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #fcfcfc;
}
.ih-main-hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
}
.wrapper{
    position: relative;
    z-index: 3;
    padding: 14% 6% 0% 6%;
}
/* .wrapper-myruntime{
    position: relative;
    z-index: 3;
    padding: 11% 6% 0% 6%;
} */
.wrapper-goorahna, .wrapper-myruntime{
    position: relative;
    z-index: 3;
    padding: 15% 6% 0% 6%;
}
.wrapper-goto-mrt{
    position: relative;
    z-index: 3;
    padding: 5% 6% 2% 6%;
}
.white-colored{
    color: rgba(231, 231, 231, 0.877);
}
.huge-text{
    font-size: 4rem;
    font-weight: 600;
    line-height: 50pt;
}
.very-huge-text{
    font-size: 7rem;
    font-weight: 600;
    line-height: 70pt;
}
.ih-main-content{
    color: rgba(255, 255, 255, 0.568);
}
.dark-filter{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0.918);
    height: 100%;
    width: 100%;
    z-index: 2;
}
.lightly-dark-filter{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0.753);
    height: 100%;
    width: 100%;
    z-index: 2;
}
.medium-image{
    width: 70%;
    height: auto;
}
.ih-white-logo{
    opacity: .8;
}
.ih-hero-body-text{
    max-width: 60%;
}
.ih-navbar-custom{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}
.text-align-center{
    text-align: center !important;
}
.myruntime-hero{
    background-image: url('../images/myruntime-bg-new.jpg');
}
.goorahna-hero{
    background-image: url('../images/goorahna-bg.jpg')
}
.goorahna-hero, .myruntime-hero{
    padding: 3% 7% 3% 7%;
    position: relative;
    background-size: cover;
}
.b-radius{
    border-radius: 7px;
}
.margin-tb-10{
    margin: 10px 0;
}
.semibold{
    font-weight: 600;
}
.mrt-columns, .goorahna-columns{
    margin-top: 5%;
}
.on-top-position{
    position: relative;
    z-index: 3;
}
.light-filter{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.753);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.regular-font{
    font-weight: 400;
}
.beige-colored{
    color: rgba(255, 236, 220, 0.856) !important;
}


/* Goorahna styles */
.goorahna-main-hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/goorahna-hero.jpg');
    background-size: cover;
}
.orange-gradient-filter{
    background: linear-gradient(214deg, #659999, #f78534, #c2643e);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: .9;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes AnimationName {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
.goorahna-hero-body-text{
    color: rgb(255, 235, 226);
    font-weight: 300;
    width: 50%;
    margin: 2% auto;
}
.goorahna-gradient-button{
    display: inline-block;
    padding: 20px 30px;
    background: #f12711;
    background-image: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    color: beige;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.goorahna-gradient-button:hover{
    color: beige;
}
.goorahna-brand-logo{
    margin-top: 2%;
}
.offers-columns{
    padding: 3%;
}
.rm-columns, .ee-columns{
    margin-top: 2%;
}
.checked-list .check-list-item{
    display: flex;
    margin-bottom: 10px;
}
.cheked-list .check-list-item:last-child{
    margin-bottom: 0px;
}
.check-icon{
    margin-right: 10px;
    color: #ff5d11;
}
.checked-list{
    margin-top: 24px;
}
.checked-list-content .checked-list-sub-items{
    margin-left: 16px;
    color: rgb(104, 104, 104);
    font-size: .8rem;
    margin-top: 18px;
}
.ee-columns .checked-list-content .checked-list-sub-items{
    margin-left: 16px;
    color: rgb(104, 104, 104);
    font-size: .9rem;
    margin-top: 18px;
}
.checked-list-content .checked-list-sub-items div{
    margin-bottom: 10px;
}
.checked-list-content .checked-list-sub-items div:last-child{
    margin-bottom: 0px;
}
.item-header{
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(54, 54, 54);
}
.ee-columns .checked-list{
    margin-top: 16px;
    font-size: 1.2rem;
}
.ee-columns .columns:not(:first-child){
    margin-top: 5%;
}
.rm-header, .ee-header, .da-header{
    padding: 3% 0;
    background-color: rgb(231, 231, 231);
}
.gray-padded-header{
    padding: 3% 0;
    background-color: rgb(231, 231, 231);
}
.rm-container, .ee-container, .da-container{
    position: relative !important;
}
.upper-left-vector{
    position: absolute;
    top: 0;
    left: -7%;
    z-index: 1;
}
.upper-right-vector-1{
    position: absolute;
    top: 0;
    left: 58%;
    z-index: 1;
}

/* MyRunTime */
.myruntime-main-hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/myruntime-hero-bg-blackandwhite.jpg');
    background-size: cover;
}
.goto-mrt-hero{
    position: relative;
    padding: 3% 0;
    width: 100%;
    background-image: url('../images/myruntime/goto-mrt.jpg');
    background-size: cover;
    background-position: center;
}
.blue-gradient-filter{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .80;
}
.text-shadowed{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
     0px 8px 13px rgba(0,0,0,0.1),
     0px 18px 23px rgba(0,0,0,0.1);
}
.mrt-hero-body-text{
    max-width: 60%;
    margin: 2% 0;
    color: rgba(0, 0, 0, 0.671);
    font-size: 1.1rem;
}
.margin-l-5{
    margin-left: 5px !important;
}
.service-content .service-header{
    color: rgba(0, 0, 0, 0.788);
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}
.service-content .service-item{
    color: rgb(66, 66, 66);
    font-size: 1.1rem;
}
.service-content .service-item:not(:last-child){
    margin-bottom: 5px;
}
.services-columns .icon{
    color: rgb(204, 92, 48);
    display: inline-block;
}
.margin-t-3-percent{
    margin-top: 3% !important;
}
.center-fitted{
    width: 45%;
    margin: 1% auto !important;
}
.center-fitted-70{
    width: 95%;
    margin: auto;
}
.regserv-columns, .ofs-columns, .ts-columns, .dp-columns{
    padding: 5% 6% 3% 6%;
}
.process-experience-section{
    padding: 3% 6% 3% 6%;
}
.big-number{
    color: rgb(207, 101, 52);
    font-size: 3rem;
    line-height: 2.8rem;
}
.mrt-stats .subtitle{
    font-size: 1rem !important;
}
.mrt-stats .box{
    padding: 20% 0;
}
.mrt-stats .mrt-stats-header{
    margin-bottom: 3%;
}
.mrt-stats{
    margin-top: 3%;
    padding: 0% 2% 5% 2%;
}
.margin-r-5{
    margin-right: 5px;
}
.small-font{
    font-size: .8rem !important;
}
.mrt-head-bebas{
    font-family: "Bebas Neue";
    font-weight: 600;
    font-size: 6rem;
    line-height: 5rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
     0px 8px 13px rgba(0,0,0,0.1),
     0px 18px 23px rgba(0,0,0,0.1);
}
.blue-orange-gradient-filter{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .9;
}
.light-white{
    color: rgb(255, 245, 245);
}
.hard-boxshadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Careers */
.we-are-ih-hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/cover.jpg');
    background-size: cover;
}
.nav-transparent{
    background: transparent !important;
    padding: 3%;
}
.nav-transparent .navbar-burger span{
    background-color: white;
    border-color: white;
}
.nav-transparent-mrt{
    background: transparent !important;
    padding: 3%;
}
.nav-transparent .navbar-item{
    color: white !important;
}
.nav-transparent-goorahna{
    background: transparent !important;
    padding: 2%;
}
.nav-transparent-goorahna .navbar-item{
    color: white !important;
}
.ih-navbar-custom{
    transition: .5s;
}
.lightly-transparent{
    opacity: .6;
}
.team-columns .column{
    margin: 2% 0 !important;
}
.office-location-header{
    display: flex;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.margin-r-20{
    margin-right: 20px;
}
.careers-columns .box{
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}
.socmed-links a{
    color: rgb(54, 54, 54);
}
.socmed-links a:hover{
    color: rgb(32, 32, 32);
    transition: .3s;
}
.socmed-links{
    margin-top: 15% !important;
}
.ih-footer{
    font-size: .9rem;
}
.on-active{
    border-bottom: 5px solid rgb(90, 90, 90);
}
.nav-transparent .on-active{
    border-bottom: 5px solid rgba(255, 255, 255, 0.671);
}
.nav-transparent-goorahna .on-active{
    border-bottom: 5px solid rgba(255, 255, 255, 0.671);
}
button{
    font-family: inherit;
}
.skew-top{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 100px 1700px;
    border-color: transparent transparent transparent #fcfcfc;
    border-style: solid;
    z-index: 4;
}
.image-width-35{
    width: 35%; 
    height: auto;
}
.image-width-50{
    width: 50%; 
    height: auto;
}
.image-width-60{
    width: 60%; 
    height: auto;
}
@media only screen and (max-width: 768px) {
    .huge-text{
        font-size: 2.5rem;
        line-height: 40pt;
    }
    .very-huge-text{
        font-size: 5rem;
        line-height: 50pt;
    }
    .wrapper-myruntime, .wrapper-goorahna{
        padding: 35% 6% 0 6%;
    }
    .mobile-brand-image{
        width: 60% !important;
        height: auto !important;
    }
    .mobile-brand-image-big{
        width: 80%;
        height: auto;
    }
    .center-fitted{
        width: 80% !important;
    }
    .goorahna-hero-body-text{
        width: 80%;
    }
    .ih-hero-body-text{
        max-width: 90%;
    }
    .medium-image{
        width: 85%;
        height: auto;
    }
    .wrapper{
        padding: 35% 6% 0% 6%;
    }
    .mobile-display-none{
        display: none !important;
    } 
    .ee-columns .columns:not(:last-child){
        border-bottom: 1px solid rgb(156, 156, 156);
    }
    .wrapper-goto-mrt{
        position: relative;
        z-index: 3;
        padding: 15% 6% 2% 6%;
    }
    .mrt-head-bebas{
        font-size: 4rem;
    }
}